.Button {
    color: var(--primary-color);

    &.contained {
        background-color: var(--inverted-primary-color);
        border: none;
    }

    &.outlined {
        background: transparent;
        border: 1px solid var(--inverted-primary-color);
        border-radius: 10;
    }

    &.clear {
        background-color: transparent;
        border: none;
    }
}
